.services-content {
  padding: 4rem 2rem;
}

.services-content h3 {
  max-width: 600px;
  text-align: center;
  font-weight: 400;
}

.services-content h3 span {
  font-weight: bold;
  font-style: italic;
}

.services-content-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.service-content-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.service-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-item-img img {
  object-fit: cover;
}

@media (max-width: 768px) {
  .services-content-grid {
    gap: 2rem;
  }

  .service-content-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .service-item-img img {
    height: 300px;
  }

  .service-item-img {
    order: 1;
  }

  .service-item-content {
    order: 2;
  }
}

@media (max-width: 640px) {
  .service-item-img img {
    height: 200px;
  }
}

@media (max-width: 425px) {
  .services-content {
    padding: 4rem 1rem;
  }
}
